pg_config:
  username: postgres
  port: 5532
mongo_config:
  mongo_uri: "mongodb://localhost:28017"
mysql_config:
  username: root
  port: 3406
dbs_in_use:
  <% DbVcs::Manager::ADAPTERS.keys.each do |adapter_name| %>
  - <%= adapter_name %>
  <% end %>
